*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    height: 10rem;
    background-color: #151b29;
   background-image: url();
}

ul{
    list-style-type: none;
    display: flex;
    

}

li{
    margin: 2rem
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    background-color: white;
    color: #151b29;
}



 #first ,#second , #third, #fourth, #fifth{
    border: 2px solid #bade12;
    width: 30rem;
    height: 30rem;
    margin: 3rem;
}
#first,#second, #third{
    background-image: url(photo_2023-11-18_23-04-29.jpg);
    background-size: cover;
    color: white;
    font-size: 3rem;
    text-align: center;
}
#uuu{
    color: rgb(0, 85, 255);
}  
#uuu:hover{
    color: white;
    background-color: blue;
}

h1{
    color: wheat;
}
h3{
    margin: 18rem 0 0 0 ;
}

.row1{
    display: flex;
    margin: 3rem 0 0 0 ;
}